body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(img/background2.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    background-color: #fff8;
    box-shadow: 0 0 15px 5px #2222
}
#headerImg {
    background-image: url(img/header.jpg);
    background-size: contain;
    height: fit-content;
}
.carousel-item svg {
    width: 100%;
    height: 25em;
}

.carousel-caption {
    top: 0%;
    color: #666 !important;
}

.fa-angle-left, .fa-angle-right {
    color: #666;
    font-size: 2em;
}

.carousel-indicators li {
    text-indent: 0 !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    background-color: transparent !important;
    color: #666 !important;
    width: unset !important;
    height: unset !important;
    border-bottom: 4px solid #666;
    cursor: pointer;
}

.carousel-indicators .active {
    border-bottom: 4px solid red;
}
#title h1 {
    margin-top: 15%;
    font-size: 4em;
}
#jadwiga-history {
    margin-top: 10%;
}
#aboutUs {
    margin-top: 5%;
}
#aboutUs h1 {
    color: #666;
}
#myCarousel {
    border-radius: 20px;
    box-shadow: 0 0 15px 0 #0005;
    background-color: #fff5;
}
#idezet {
    /* background-color: #ddd; */
    color: #666;
    /* box-shadow: 0 0 30px 30px #ddd; */
    margin-top: 6em !important;
    margin-bottom: 6em !important;
}
#footer {
    background-color: #3339;
    color: #fff;
}
.kuratorium h5{
    margin-bottom: 0px;
}
.kontaktcimek a {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 1200px) {
    .carousel-item svg {
        width: 100%;
        height: 30em;
    }
}

@media screen and (max-width: 991px) {
    .carousel-item svg {
        width: 100%;
        height: 40em;
    }
    .carousel-caption {
        overflow: scroll;
        height: 88%;
    }
    .carousel-caption p {
        text-align: justify !important;
    }
}
/* @media screen and (max-width: 767px) {
    .carousel-item svg {
        width: 100%;
        height: 46em;
    }
}
@media screen and (max-width: 575px) {
    .carousel-item svg {
        width: 100%;
        height: 70em;
    }
} */